.lead__title {
  color: white;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto 32px;
  max-width: 720px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (767 - 320)));
    line-height: calc(44px + (100 - 44) * ((100vw - 320px) / (767 - 320)));
    margin-bottom: 16px;
    width: 90%;
  }
}
