.lead__subtitle {
  max-width: 640px;
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (767 - 320)));
    line-height: calc(20px + (36 - 20) * ((100vw - 320px) / (767 - 320)));
    max-width: 83%;
  }
}
