.cover {
  margin: 92px auto 92px;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
    margin-bottom: 64px;
  }
}

.cover::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cover:hover {
  opacity: 0.8;
}
