.cover__title {
  color: white;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (767 - 320)));
    line-height: calc(35px + (76 - 35) * ((100vw - 320px) / (767 - 320)));
  }
}
