.place {
  display: grid;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
  justify-content: center;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
  .place{
    grid-template-columns: 460px fit-content(484px);
    column-gap: 40px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: minmax(440px, 459px) minmax(456px, 483px);
    column-gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(340px, 439px) minmax(352px, 455px);
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: minmax(288px, auto);
    row-gap: 32px;
    margin-bottom: 50px;
  }
}